3342DevStepFinal/3342DevStepFinal/Web References/Experiences/ActivitiesService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetActivityAgencies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActivityAgenciesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetActivityAgenciesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetActivities">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a" type="tns:Agency" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Agency">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Agency_city" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Agency_email" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Agency_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Agency_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Agency_phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Agency_state" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Agency_zip" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetActivitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetActivitiesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindActivities">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a" type="tns:Activities" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Activities">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Activity_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Activity_avaliability" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Activity_no_of_booking" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Activity_cost" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="Activity_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Activity_status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Activity_startDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Activity_enddate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Activity_info" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Activity_location" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Activity_city" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Activity_state" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindActivitiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindActivitiesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindActivitiesByVenues">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="v" type="tns:Venue" />
            <s:element minOccurs="0" maxOccurs="1" name="a" type="tns:Activities" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Venue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Venue_city" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Venue_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Venue_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Venue_state" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindActivitiesByVenuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindActivitiesByVenuesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindActivitiesByAgency">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="tns:Agency" />
            <s:element minOccurs="0" maxOccurs="1" name="a" type="tns:Activities" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindActivitiesByAgencyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindActivitiesByAgencyResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TravelLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TravelID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TravelPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TravelLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TravelLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reserve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ag" type="tns:Agency" />
            <s:element minOccurs="0" maxOccurs="1" name="a" type="tns:Activities" />
            <s:element minOccurs="0" maxOccurs="1" name="c" type="tns:Customer" />
            <s:element minOccurs="0" maxOccurs="1" name="TravelID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TravelPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReserveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReserveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetActivityAgenciesSoapIn">
    <wsdl:part name="parameters" element="tns:GetActivityAgencies" />
  </wsdl:message>
  <wsdl:message name="GetActivityAgenciesSoapOut">
    <wsdl:part name="parameters" element="tns:GetActivityAgenciesResponse" />
  </wsdl:message>
  <wsdl:message name="GetActivitiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetActivities" />
  </wsdl:message>
  <wsdl:message name="GetActivitiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetActivitiesResponse" />
  </wsdl:message>
  <wsdl:message name="FindActivitiesSoapIn">
    <wsdl:part name="parameters" element="tns:FindActivities" />
  </wsdl:message>
  <wsdl:message name="FindActivitiesSoapOut">
    <wsdl:part name="parameters" element="tns:FindActivitiesResponse" />
  </wsdl:message>
  <wsdl:message name="FindActivitiesByVenuesSoapIn">
    <wsdl:part name="parameters" element="tns:FindActivitiesByVenues" />
  </wsdl:message>
  <wsdl:message name="FindActivitiesByVenuesSoapOut">
    <wsdl:part name="parameters" element="tns:FindActivitiesByVenuesResponse" />
  </wsdl:message>
  <wsdl:message name="FindActivitiesByAgencySoapIn">
    <wsdl:part name="parameters" element="tns:FindActivitiesByAgency" />
  </wsdl:message>
  <wsdl:message name="FindActivitiesByAgencySoapOut">
    <wsdl:part name="parameters" element="tns:FindActivitiesByAgencyResponse" />
  </wsdl:message>
  <wsdl:message name="TravelLoginSoapIn">
    <wsdl:part name="parameters" element="tns:TravelLogin" />
  </wsdl:message>
  <wsdl:message name="TravelLoginSoapOut">
    <wsdl:part name="parameters" element="tns:TravelLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ReserveSoapIn">
    <wsdl:part name="parameters" element="tns:Reserve" />
  </wsdl:message>
  <wsdl:message name="ReserveSoapOut">
    <wsdl:part name="parameters" element="tns:ReserveResponse" />
  </wsdl:message>
  <wsdl:portType name="ActivitiesServiceSoap">
    <wsdl:operation name="GetActivityAgencies">
      <wsdl:input message="tns:GetActivityAgenciesSoapIn" />
      <wsdl:output message="tns:GetActivityAgenciesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetActivities">
      <wsdl:input message="tns:GetActivitiesSoapIn" />
      <wsdl:output message="tns:GetActivitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindActivities">
      <wsdl:input message="tns:FindActivitiesSoapIn" />
      <wsdl:output message="tns:FindActivitiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindActivities">
      <wsdl:input name="FindActivitiesByVenues" message="tns:FindActivitiesByVenuesSoapIn" />
      <wsdl:output name="FindActivitiesByVenues" message="tns:FindActivitiesByVenuesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindActivities">
      <wsdl:input name="FindActivitiesByAgency" message="tns:FindActivitiesByAgencySoapIn" />
      <wsdl:output name="FindActivitiesByAgency" message="tns:FindActivitiesByAgencySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TravelLogin">
      <wsdl:input message="tns:TravelLoginSoapIn" />
      <wsdl:output message="tns:TravelLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reserve">
      <wsdl:input message="tns:ReserveSoapIn" />
      <wsdl:output message="tns:ReserveSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ActivitiesServiceSoap" type="tns:ActivitiesServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetActivityAgencies">
      <soap:operation soapAction="http://tempuri.org/GetActivityAgencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivities">
      <soap:operation soapAction="http://tempuri.org/GetActivities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindActivities">
      <soap:operation soapAction="http://tempuri.org/FindActivities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindActivities">
      <soap:operation soapAction="http://tempuri.org/FindActivitiesByVenues" style="document" />
      <wsdl:input name="FindActivitiesByVenues">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FindActivitiesByVenues">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindActivities">
      <soap:operation soapAction="http://tempuri.org/FindActivitiesByAgency" style="document" />
      <wsdl:input name="FindActivitiesByAgency">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FindActivitiesByAgency">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TravelLogin">
      <soap:operation soapAction="http://tempuri.org/TravelLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reserve">
      <soap:operation soapAction="http://tempuri.org/Reserve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ActivitiesServiceSoap12" type="tns:ActivitiesServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetActivityAgencies">
      <soap12:operation soapAction="http://tempuri.org/GetActivityAgencies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActivities">
      <soap12:operation soapAction="http://tempuri.org/GetActivities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindActivities">
      <soap12:operation soapAction="http://tempuri.org/FindActivities" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindActivities">
      <soap12:operation soapAction="http://tempuri.org/FindActivitiesByVenues" style="document" />
      <wsdl:input name="FindActivitiesByVenues">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FindActivitiesByVenues">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindActivities">
      <soap12:operation soapAction="http://tempuri.org/FindActivitiesByAgency" style="document" />
      <wsdl:input name="FindActivitiesByAgency">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FindActivitiesByAgency">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TravelLogin">
      <soap12:operation soapAction="http://tempuri.org/TravelLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reserve">
      <soap12:operation soapAction="http://tempuri.org/Reserve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActivitiesService">
    <wsdl:port name="ActivitiesServiceSoap" binding="tns:ActivitiesServiceSoap">
      <soap:address location="http://cis-iis2.temple.edu/Spring2018/CIS3342_tug62391/TermProjectWS/ActivitiesService.asmx" />
    </wsdl:port>
    <wsdl:port name="ActivitiesServiceSoap12" binding="tns:ActivitiesServiceSoap12">
      <soap12:address location="http://cis-iis2.temple.edu/Spring2018/CIS3342_tug62391/TermProjectWS/ActivitiesService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>