3342DevStepFinal/3342DevStepFinal/Web References/Flights/AirService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetFlights">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AirCarrierID" type="tns:AirCarrierClass" />
            <s:element minOccurs="0" maxOccurs="1" name="DepartureCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DepartureState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ArrivalCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ArrivalState" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AirCarrierClass">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AirCarrierID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="AirCarrierName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFlightsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFlightsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindFlights">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requirements" type="tns:RequirementClass" />
            <s:element minOccurs="0" maxOccurs="1" name="DepartureCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DepartureState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ArrivalCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ArrivalState" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequirementClass">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="requirementStops" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="requirementClass" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindFlightsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindFlightsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reserve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AirCarrierID" type="tns:AirCarrierClass" />
            <s:element minOccurs="0" maxOccurs="1" name="flight" type="tns:FlightClass" />
            <s:element minOccurs="0" maxOccurs="1" name="customer" type="tns:CustomerClass" />
            <s:element minOccurs="0" maxOccurs="1" name="TravelSiteID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TravelSitePassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FlightClass">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FlightUniqueID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="FlightID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AirCarrierID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartureCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartureState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartureDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartureTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ArrivalCity" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ArrivalState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ArrivalDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ArrivalTime" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Stops" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Class" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MaxSeats" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SeatsReserved" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CustomerClass">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomerEmail" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReserveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReserveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAirCarriers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DepartureCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DepartureState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ArrivalCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ArrivalState" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAirCarriersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAirCarriersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FilterFlightsByCarrier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AirCarrierID" type="tns:AirCarrierClass" />
            <s:element minOccurs="0" maxOccurs="1" name="requirements" type="tns:RequirementClass" />
            <s:element minOccurs="0" maxOccurs="1" name="DepartureCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DepartureState" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ArrivalCity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ArrivalState" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FilterFlightsByCarrierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FilterFlightsByCarrierResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetFlightsSoapIn">
    <wsdl:part name="parameters" element="tns:GetFlights" />
  </wsdl:message>
  <wsdl:message name="GetFlightsSoapOut">
    <wsdl:part name="parameters" element="tns:GetFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="FindFlightsSoapIn">
    <wsdl:part name="parameters" element="tns:FindFlights" />
  </wsdl:message>
  <wsdl:message name="FindFlightsSoapOut">
    <wsdl:part name="parameters" element="tns:FindFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="ReserveSoapIn">
    <wsdl:part name="parameters" element="tns:Reserve" />
  </wsdl:message>
  <wsdl:message name="ReserveSoapOut">
    <wsdl:part name="parameters" element="tns:ReserveResponse" />
  </wsdl:message>
  <wsdl:message name="GetAirCarriersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAirCarriers" />
  </wsdl:message>
  <wsdl:message name="GetAirCarriersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAirCarriersResponse" />
  </wsdl:message>
  <wsdl:message name="FilterFlightsByCarrierSoapIn">
    <wsdl:part name="parameters" element="tns:FilterFlightsByCarrier" />
  </wsdl:message>
  <wsdl:message name="FilterFlightsByCarrierSoapOut">
    <wsdl:part name="parameters" element="tns:FilterFlightsByCarrierResponse" />
  </wsdl:message>
  <wsdl:portType name="AirServiceSoap">
    <wsdl:operation name="GetFlights">
      <wsdl:input message="tns:GetFlightsSoapIn" />
      <wsdl:output message="tns:GetFlightsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindFlights">
      <wsdl:input message="tns:FindFlightsSoapIn" />
      <wsdl:output message="tns:FindFlightsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reserve">
      <wsdl:input message="tns:ReserveSoapIn" />
      <wsdl:output message="tns:ReserveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAirCarriers">
      <wsdl:input message="tns:GetAirCarriersSoapIn" />
      <wsdl:output message="tns:GetAirCarriersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FilterFlightsByCarrier">
      <wsdl:input message="tns:FilterFlightsByCarrierSoapIn" />
      <wsdl:output message="tns:FilterFlightsByCarrierSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AirServiceSoap" type="tns:AirServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFlights">
      <soap:operation soapAction="http://tempuri.org/GetFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindFlights">
      <soap:operation soapAction="http://tempuri.org/FindFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reserve">
      <soap:operation soapAction="http://tempuri.org/Reserve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAirCarriers">
      <soap:operation soapAction="http://tempuri.org/GetAirCarriers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilterFlightsByCarrier">
      <soap:operation soapAction="http://tempuri.org/FilterFlightsByCarrier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AirServiceSoap12" type="tns:AirServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFlights">
      <soap12:operation soapAction="http://tempuri.org/GetFlights" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindFlights">
      <soap12:operation soapAction="http://tempuri.org/FindFlights" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reserve">
      <soap12:operation soapAction="http://tempuri.org/Reserve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAirCarriers">
      <soap12:operation soapAction="http://tempuri.org/GetAirCarriers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FilterFlightsByCarrier">
      <soap12:operation soapAction="http://tempuri.org/FilterFlightsByCarrier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AirService">
    <wsdl:port name="AirServiceSoap" binding="tns:AirServiceSoap">
      <soap:address location="http://cis-iis2.temple.edu/Spring2018/CIS3342_tuf54356/TermProjectWS/AirService.asmx" />
    </wsdl:port>
    <wsdl:port name="AirServiceSoap12" binding="tns:AirServiceSoap12">
      <soap12:address location="http://cis-iis2.temple.edu/Spring2018/CIS3342_tuf54356/TermProjectWS/AirService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>