3342DevStepFinal/3342DevStepFinal/Web References/Cars/CarService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetRentalCarAgencies">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRentalCarAgenciesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRentalCarAgenciesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCarsByAgency">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agency" type="tns:Agency" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Agency">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="agencyID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCarsByAgencyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCarsByAgencyResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCars">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requirements" type="tns:Requirements" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Requirements">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="price" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="numDoor" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="eco" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="numPassenger" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="FindCarsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindCarsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCarsByAgency">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agency" type="tns:Agency" />
            <s:element minOccurs="0" maxOccurs="1" name="requirements" type="tns:Requirements" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindCarsByAgencyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindCarsByAgencyResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reserve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agency" type="tns:Agency" />
            <s:element minOccurs="0" maxOccurs="1" name="car" type="tns:Car" />
            <s:element minOccurs="0" maxOccurs="1" name="customer" type="tns:Customer" />
            <s:element minOccurs="0" maxOccurs="1" name="TravelSiteID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TravelSitePassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Car">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="carID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="make" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="model" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="price" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="numDoors" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="eco" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="numPassenger" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="agencyID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="customerID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReserveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ReserveResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRentalCarAgenciesSoapIn">
    <wsdl:part name="parameters" element="tns:GetRentalCarAgencies" />
  </wsdl:message>
  <wsdl:message name="GetRentalCarAgenciesSoapOut">
    <wsdl:part name="parameters" element="tns:GetRentalCarAgenciesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCarsByAgencySoapIn">
    <wsdl:part name="parameters" element="tns:GetCarsByAgency" />
  </wsdl:message>
  <wsdl:message name="GetCarsByAgencySoapOut">
    <wsdl:part name="parameters" element="tns:GetCarsByAgencyResponse" />
  </wsdl:message>
  <wsdl:message name="FindCarsSoapIn">
    <wsdl:part name="parameters" element="tns:FindCars" />
  </wsdl:message>
  <wsdl:message name="FindCarsSoapOut">
    <wsdl:part name="parameters" element="tns:FindCarsResponse" />
  </wsdl:message>
  <wsdl:message name="FindCarsByAgencySoapIn">
    <wsdl:part name="parameters" element="tns:FindCarsByAgency" />
  </wsdl:message>
  <wsdl:message name="FindCarsByAgencySoapOut">
    <wsdl:part name="parameters" element="tns:FindCarsByAgencyResponse" />
  </wsdl:message>
  <wsdl:message name="ReserveSoapIn">
    <wsdl:part name="parameters" element="tns:Reserve" />
  </wsdl:message>
  <wsdl:message name="ReserveSoapOut">
    <wsdl:part name="parameters" element="tns:ReserveResponse" />
  </wsdl:message>
  <wsdl:portType name="CarServiceSoap">
    <wsdl:operation name="GetRentalCarAgencies">
      <wsdl:input message="tns:GetRentalCarAgenciesSoapIn" />
      <wsdl:output message="tns:GetRentalCarAgenciesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCarsByAgency">
      <wsdl:input message="tns:GetCarsByAgencySoapIn" />
      <wsdl:output message="tns:GetCarsByAgencySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindCars">
      <wsdl:input message="tns:FindCarsSoapIn" />
      <wsdl:output message="tns:FindCarsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindCarsByAgency">
      <wsdl:input message="tns:FindCarsByAgencySoapIn" />
      <wsdl:output message="tns:FindCarsByAgencySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reserve">
      <wsdl:input message="tns:ReserveSoapIn" />
      <wsdl:output message="tns:ReserveSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CarServiceSoap" type="tns:CarServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRentalCarAgencies">
      <soap:operation soapAction="http://tempuri.org/GetRentalCarAgencies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarsByAgency">
      <soap:operation soapAction="http://tempuri.org/GetCarsByAgency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCars">
      <soap:operation soapAction="http://tempuri.org/FindCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCarsByAgency">
      <soap:operation soapAction="http://tempuri.org/FindCarsByAgency" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reserve">
      <soap:operation soapAction="http://tempuri.org/Reserve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CarServiceSoap12" type="tns:CarServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRentalCarAgencies">
      <soap12:operation soapAction="http://tempuri.org/GetRentalCarAgencies" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarsByAgency">
      <soap12:operation soapAction="http://tempuri.org/GetCarsByAgency" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCars">
      <soap12:operation soapAction="http://tempuri.org/FindCars" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindCarsByAgency">
      <soap12:operation soapAction="http://tempuri.org/FindCarsByAgency" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reserve">
      <soap12:operation soapAction="http://tempuri.org/Reserve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarService">
    <wsdl:port name="CarServiceSoap" binding="tns:CarServiceSoap">
      <soap:address location="http://cis-iis2.temple.edu/Spring2018/CIS3342_tue59964/TermProjectWS/CarService.asmx" />
    </wsdl:port>
    <wsdl:port name="CarServiceSoap12" binding="tns:CarServiceSoap12">
      <soap12:address location="http://cis-iis2.temple.edu/Spring2018/CIS3342_tue59964/TermProjectWS/CarService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>